.CategoryDiv {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.navStles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: blue;
  border-radius: 10px;
}
.navLinks {
  background-color: white;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.resetButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: blue;
  border-radius: 10px;
}
